/* TODO: responsive styling */

html, body {
    background-color: #111;
}

main {
    color: #ddd;
}

header {
    margin-top: 50px;
    font-size: 4em;
    text-align: center;
    font-family: Impact, Verdana, sans-serif;
}

.reg {
    font-size: 0.5em;
    vertical-align: super;
    font-family: Impact, Verdana, sans-serif;
}

@keyframes green {
    from { background-color: rgba(0, 255, 0, 1); }
    to { background-color: rgba(0, 255, 0, 0.5); }
}

@keyframes red {
    from { background-color: rgba(255, 0, 0, 1); }
    to { background-color: rgba(255, 0, 0, 0.5); }
}

@keyframes yellow {
    from { background-color: rgba(255, 255, 0, 1); }
    to { background-color: rgba(255, 255, 0, 0.5); }
}

@keyframes blue {
    from { background-color: rgba(0, 0, 255, 1); }
    to { background-color: rgba(0, 0, 255, 0.5); }
}

@keyframes whiteOn {
    /*from { background-color: rgba(100, 100, 100, 0); }*/
    from { background-color: rgba(200, 200, 200, 0.2); }
    to { background-color: rgba(200, 200, 200, 1); }
}

@keyframes whiteOff {
    from { background-color: rgba(200, 200, 200, 1); }
    to { background-color: rgba(200, 200, 200, 0.2); }
    /*to { background-color: rgba(100, 100, 100, 0); }*/
}

.score {
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    text-align: center;
    position: fixed;
    height: 56px;
    transform: translateY(-28px);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.buttons {
    margin-top: 25px;
}

.btnRow {
    display: flex;
    align-items: center;;
    justify-content: center;
}

.btn0, .btn1, .btn2, .btn3 {
    margin: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #555;
}

.btn0 {
    background-color: rgba(0, 255, 0, 0.5);
    border: 2px solid rgba(0, 100, 0, 1);
    box-shadow: inset 0px 0px 3px 3px rgba(0, 100, 0, 0.75);
}

.btn1 {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(100, 0, 0, 1);
    box-shadow: inset 0px 0px 3px 3px rgba(100, 0, 0, 0.75);
}

.btn2 {
    background-color: rgba(255, 255, 0, 0.5);
    border: 2px solid rgba(100, 100, 0, 1);
    box-shadow: inset 0px 0px 3px 3px rgba(100, 100, 0, 0.75);
}

.btn3 {
    background-color: rgba(0, 0, 255, 0.5);
    border: 2px solid rgba(0, 0, 100, 1);
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 100, 0.75);
}

.btnGreen {
    animation-name: green;
    animation-duration: 0.2s;
}

.btnRed {
    animation-name: red;
    animation-duration: 0.2s;
}

.btnYellow {
    animation-name: yellow;
    animation-duration: 0.2s;
}

.btnBlue  {
    animation-name: blue;
    animation-duration: 0.2s;
}

.strict {
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #222;
    box-shadow: inset 0 0 4px 4px rgba(50, 50, 0, 0.3);
}

.btnWhiteOn  {
    animation-name: whiteOn;
    animation-duration: 1s;
    background-color: rgba(200, 200, 200, 1);
    border: 2px solid #333;
    box-shadow: inset 0 0 4px 4px rgba(125, 125, 125, 0.5), inset 0 0 2px 2px rgba(100, 100, 0, 0.5);
}

.btnWhiteOff  {
    animation-name: whiteOff;
    animation-duration: 1s;
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #222;
    box-shadow: inset 0 0 4px 4px rgba(50, 50, 0, 0.3);
    /*background-color: rgba(100, 100, 100, 0);
    border: 2px solid #eee;*/
}

.controls {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    min-height: 50px;
    margin-top: 5px;
}

.strict, .restart {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.restart {
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #222;
    box-shadow: inset 0 0 4px 4px rgba(40, 40, 50, 0.3);
}

.restart:hover {
    background-color: rgba(200, 200, 200, 0.6);
    box-shadow: inset 0 0 4px 4px rgba(80, 80, 90, 0.5);
}

.restart:active {
    background-color: rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 1px 1px rgba(80, 80, 90, 0.5);
}

.strictLabel, .restartLabel {
    text-align: center;
    font-size: 1em;
    width: 50px;
    overflow: visible;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.strictLabel {
    margin-right: 15px;
}

.restartLabel {
    margin-left: 15px;
}

@media only screen and (max-width: 450px) {
    .btn0, .btn1, .btn2, .btn3 {
        width: 140px;
        height: 140px;
    }

    header {
        font-size: 3em;
    }

    .reg {
        font-size: 0.5em;
    }

    .score {
        font-size: 2em;
        transform: translateY(-20px);
    }

    .strictLabel, .restartLabel {
        font-size: 0.75em;
    }
}
