@keyframes yellow {
    from { background-color: rgba(255, 255, 0, 1); }
    to { background-color: rgba(255, 255, 0, 0); }
}

@keyframes blue {
    from { background-color: rgba(0, 0, 255, 1); }
    to { background-color: rgba(0, 0, 255, 0); }
}

@keyframes red {
    from { background-color: rgba(255, 0, 0, 1); }
    to { background-color: rgba(255, 0, 0, 0); }
}

@keyframes green {
    from { background-color: rgba(0, 255, 0, 1); }
    to { background-color: rgba(0, 255, 0, 0); }
}

.score {
    font-size: 3em;
    text-align: center;
    position: fixed;
    top: 44%;
    left: 47.5%;
}

.buttons {
    margin-top: 150px;
}

.btnRow {
    display: flex;
    align-items: center;;
    justify-content: center;
}

.btn0, .btn1, .btn2, .btn3 {
    margin: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #111;
}

.btnGreen {
    animation-name: green;
    animation-duration: 0.2s;
}

.btnRed {
    animation-name: red;
    animation-duration: 0.2s;
}

.btnYellow {
    animation-name: yellow;
    animation-duration: 0.2s;
}

.btnBlue  {
    animation-name: blue;
    animation-duration: 0.2s;
}
